.yellow-btn {
  padding: 8px 16px;
  background-color: $dark-yellow ;
  transition: background 0.3s ease;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  &:hover {
    background-color: lighten( $dark-yellow, 2% ) ;
  }
}

.btc-button {
  padding: 8px 28px;
  color: black;
  text-decoration: none;
  background-color: $dark-yellow;
  transition: background-color 0.15s ease;
  &:hover {
    background-color: #389168;
    text-decoration: none;
    color: white;
  }
}
