.modal-image {
  max-width: 100%;
  margin: 16px 0;
  padding: 16px;
}

.mod-title {
  font-weight: bold;
  font-size: 28px;
}

.modal-subtitle {
  margin-top: 16px;
}

.modal-free {
  color: rgb(120, 120, 120);
}

.modal-button {
  background-color: #09853D !important;
}
