// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "social-share-button";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
  color: black;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

$size: 24px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    margin: 0 8px;
  }
}
